@import "../../../../assets/scss/_variables.scss";

.services {
  min-height: 698.76px;
  &-divider {
    position: relative;
    border-bottom: 1px dashed $border-grey;
    margin-bottom: 2rem;
    > a {
      display: flex;
      position: absolute;
      right: -3rem;
      z-index: 9;
      top: 0.7rem;
      img {
        width: 2rem;
      }
    }
  }
}
