<div class="card bg-white" id="contentToConvert">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div class="">
        <h5 class="text-purple">E Prescription</h5>
        <h6 class="text-grey">Record #{{ data.record_no }}</h6>
      </div>
      <img
        src="../../../../../assets/images/logo.svg"
        alt=""
        class="img-fluid"
      />
      <div class="">
        <h5 class="text-purple">
          <strong>{{ data.doctor_name }}</strong>
        </h5>
        <h6 class="text-grey">{{ data.education }}</h6>
      </div>
    </div>
    <h5 class="card-title">Patient Details</h5>
    <table class="table table-sm">
      <tbody>
        <tr>
          <td scope="col" class="text-grey">
            <strong class="text-purple">Name:</strong> John Wick
          </td>
          <td scope="col" class="text-grey">
            <strong class="text-purple">Age:</strong> 36
          </td>
          <td scope="col" class="text-grey">
            <strong class="text-purple">Gener:</strong> Male
          </td>
        </tr>
        <tr>
          <td scope="col" class="text-grey">
            <strong class="text-purple">Blood Group:</strong> O-
          </td>
          <td scope="col" class="text-grey">
            <strong class="text-purple">Weight:</strong> 150KG
          </td>
          <td scope="col" class="text-grey">
            <strong class="text-purple">Height:</strong> N/A
          </td>
        </tr>
      </tbody>
    </table>
    <h5 class="card-title">Diagnosis</h5>
    <h6>Remarks:</h6>
    <p class="mb-5">{{ data.remarks }}</p>
    <h6>Medicine</h6>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col" class="text-purple">#</th>
          <th scope="col" class="text-purple">Name & Type</th>
          <th scope="col" class="text-purple">Dose</th>
          <th scope="col" class="text-purple">Duration(Days)</th>
          <th scope="col" class="text-purple">Instructions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medicine of data.medicines; let i = index">
          <td scope="col" class="text-grey">{{ i + 1 }}</td>
          <td scope="col" class="text-grey">{{ medicine.name }}</td>
          <td scope="col" class="text-grey">
            {{ medicine.dose.morning }} + {{ medicine.dose.afternoon }} +
            {{ medicine.dose.evening }}
          </td>
          <td class="text-grey">{{ medicine.duration }}</td>
          <td class="text-grey">{{ medicine.Instructions }}</td>
        </tr>
      </tbody>
    </table>
    <h6>Lab Tests</h6>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col" class="text-purple">#</th>
          <th scope="col" class="text-purple">Test Name</th>
          <th scope="col" class="text-purple">Instructions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let test of data.lab_tests; let i = index">
          <td scope="col" class="text-grey">{{ i + 1 }}</td>
          <td scope="col" class="text-grey">{{ test.name }}</td>
          <td scope="col" class="text-grey">{{ test.instructions }}</td>
        </tr>
      </tbody>
    </table>
    <h6>Doctor Notes</h6>
    <p>{{ data.note }}</p>

    <div
      class="mt-5 mb-3 d-flex justify-content-center flex-column align-items-center"
    >
      <h5>Eshaafi</h5>
      <h6 class="text-purple">Care that never quits</h6>
      <p class="mb-0 text-grey">For any querries please call: 0304-0555060</p>
      <small class="text-grey"
        ><strong>Note:</strong> This prescription is generated by
        computer</small
      >
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <p class="text-grey">
        <strong>Powered by: </strong> The Knight E-Services Pvt. Limited
      </p>
      <p class="text-grey"><strong>Mail:</strong> info@eshaafi.com</p>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center mb-5">
  <button class="btn btn-primary" (click)="generatePDF()">Download</button>
</div>
